{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="form-floating mb-3">

    <h1>Login</h1>

    <form class="form-floating" method="POST" action="">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" name="username" placeholder="Username" class="form-control">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input  type="password" name="password" placeholder="Password" class="form-control">
            <label for="floatingPassword">Password</label>
          </div>
        
            <input class="btn login_btn" type="submit" value="Login">
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}