{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <h1>Wishlist</h1>
  <form id="form" onsubmit="return false;">
    {% csrf_token %}
    <label>Nama Barang</label>
    <input type="text" name="nama_barang"></input>
    <label>Harga Barang</label>
    <input type="number" name="harga_barang"></input>
    <label>Deskripsi</label>
    <input type="text" name="deskripsi"></input>
    <button id="button" type="submit"  value="Submit">submit</button>
  </form>

  <table id="table"></table>

<script>

  async function getWishlist(){
    return fetch("{%url 'wishlist:show_json' %}").then((res) => res.json())
  }

  async function loadWishlistData(){
    document.getElementById("table").innerHTML= ""
    const wishlist = await getWishlist()
    let tableData = `<tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
      </tr>`

    wishlist.forEach((data)=>{
      tableData +=`<tr>
        <td>${data.fields.nama_barang}</td>
        <td>${data.fields.harga_barang}</td>
        <td>${data.fields.deskripsi}</td>  
      </tr>`
    })

    document.getElementById("table").innerHTML= tableData

  }
  function addWishList(){
    fetch('wishlist/ajax/submit', {
      method:'POST',
      body: new FormData(document.querySelector('#form'))
    }).then(loadWishlistData)
    return false;
  }

  document.getElementById('button').onclick = addWishList
  loadWishlistData()
</script>
{% endblock content %}